@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    margin: 150px 20px;
    font-family: "Public Sans", sans-serif;
}

.pinturas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pinturas .pintura {
    width: 335px;
    height: 432px;
    position: relative;
}

.pinturas .pintura .titulo {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.pinturas .pintura .autor {
    font-size: 17px;
    font-weight: 300;
}

.autor,
.titulo {
    position: absolute; /* Posicionando os títulos e autores de forma absoluta */
    bottom: 40px; /* Distância de 10px do fundo */
    left: 20px; /* Distância de 10px da esquerda */
    color: white; /* Definindo a cor do texto como branca */
}
